body {
    font-family: Roboto;
    margin: 0%;
}



.header {
    background-color: #1f2937;
    color: aliceblue;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center
}

.nav-bar ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}



.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

h1 {
    font-size: 48px;
    margin: 0%;
    font-weight: 900;
}

.header-text {
    max-width: 500px;
}

.header button {
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 8px 32px;
    border-radius: 8px;
}

/* Information Section */

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.information h2 {
    text-align: center;
}

.information .cards {
    display: flex;
    gap: 16px;
}

.information img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.card {
    width: 250px;
    text-align: center;
}

/* Quote Section*/

.quote  {
    display: flex;
    align-items: center;
    background-color: #e5e7eb;
    text-align: center;
    padding: 48px 300px;
}

.quote-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote p {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

.author {
    align-self: flex-end;
}

/* CTA */

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 0px;
}

.cta {
    display: flex;
    align-items: center;
    background-color: #3882f6;
    width: 800px;
    justify-content: space-around;
    padding: 16px;
    color: white;
    border-radius: 8px;
}

.cta button {
    background-color: #3882f6;
    border: 1px solid white;
    padding: 8px 32px;
    color: white;
}

.footer {
    text-align: center;
    background-color: #1f2937;
    margin: 0;
    color: white;
    padding: 16px 0;
    font-weight: 300;
}

